header {
    font: 13px arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a{
    text-align: center;
    padding: 14px 16px;
    color:black;
}

a:link {
    text-decoration: none; /* this removes the underline from the links */
    color: grey;
}

a:hover {
    text-decoration: underline; /* this adds underlining to links when they are hovered over with the mouse */
}

footer {
    font: 15px arial, sans-serif;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color:hsl(0, 0%, 92%)
}

#signin {
    color: white;
    background-color: rgb(66, 133, 244);
    border-radius: 5%;
    border: none;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    width: 100px;
}

#signin:hover {
    cursor: pointer;
}

.logo {
    text-align: center;
}

.search_bar {
    text-align: center;
    padding: 10px;
    margin: 10px;
    
}

.googleLucky {
    text-align: center;
}

#GoogleSearch {
    border: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

#Lucky {
    border: transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

input {
    height: 15px;
    width: 350px;
}

.footer {
    padding-top: 25px;
}

body {
    margin: 0;
}

.material-icons {
    color: hsl(0, 0%, 40%);
    padding-top: 10px;
    padding-right: 10px;
}

.material-icons:hover {
    cursor: pointer;
}